@model Conditio.Models.ComparatorViewModel

@{
    ViewData["Title"] = "Comparator";

    var results = ViewData["result"];

    bool showresults = results == null ? false : (bool)results;
}

<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Compara términos & condiciones</h2>
    </div>
    <div class="col-md-12">
        <form asp-controller="Analysis" asp-action="Compare" method="post" class="analyse-form">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="analyse-title">Elige cualquier plataforma</h5>
                </div>
                <div class="col-md-6">
                    @Html.ValidationSummary()
                </div>
            </div>
            <div class="form-group">
                @Html.TextBox("UrlOne", "", new { @class = "form-control analyse-input", @placeholder = "Url" })

                <button type="submit" class="btn btn-primary analyse-button">Comparar</button>
            </div>
        </form>
    </div>

    @functions {
    public string GetUrl(string key)
    {
        switch (key)
        {
            case "Amazon":
                return "https://amazon.es";
            case "Asos":
                return "https://asos.com";
            case "Pccomponentes":
                return "https://pccomponentes.com";
            default:
                return "#";
        }
    }
    }

    @if (showresults)
    {
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class=" comparator-details-group">
                        <h4 class="comparator-details-header">Precio</h4>
                        @foreach (var item in Model.Price)
                        {
                            <div class="row">
                                <div class="col-md-6 text-left"><p class="comparator-details-key"><a href="@GetUrl(item.Key)">@item.Key</a></p></div>
                                <div class="col-md-6 text-right"><p class="comparator-details-value comparator-details-value-@item.Value">@item.Value</p></div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" comparator-details-group">
                        <h4 class="comparator-details-header">Entrega</h4>
                        @foreach (var item in Model.Delivery)
                        {
                            <div class="row">
                                <div class="col-md-6 text-left"><p class="comparator-details-key"><a href="@GetUrl(item.Key)">@item.Key</a></p></div>
                                <div class="col-md-6 text-right"><p class="comparator-details-value comparator-details-value-@item.Value">@item.Value</p></div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" comparator-details-group">
                        <h4 class="comparator-details-header">Devolución</h4>
                        @foreach (var item in Model.Refund)
                        {
                            <div class="row">
                                <div class="col-md-6 text-left"><p class="comparator-details-key"><a href="@GetUrl(item.Key)">@item.Key</a></p></div>
                                <div class="col-md-6 text-right"><p class="comparator-details-value comparator-details-value-@item.Value">@item.Value</p></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class=" comparator-details-group">
                        <h4 class="comparator-details-header">Cancelación</h4>
                        @foreach (var item in Model.Cancelation)
                        {
                            <div class="row">
                                <div class="col-md-6 text-left"><p class="comparator-details-key"><a href="@GetUrl(item.Key)">@item.Key</a></p></div>
                                <div class="col-md-6 text-right"><p class="comparator-details-value comparator-details-value-@item.Value">@item.Value</p></div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" comparator-details-group">
                        <h4 class="comparator-details-header">Garantia</h4>
                        @foreach (var item in Model.Guarantee)
                        {
                            <div class="row">
                                <div class="col-md-6 text-left"><p class="comparator-details-key"><a href="@GetUrl(item.Key)">@item.Key</a></p></div>
                                <div class="col-md-6 text-right"><p class="comparator-details-value comparator-details-value-@item.Value">@item.Value</p></div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" comparator-details-group">
                        <h4 class="comparator-details-header">Jurisdiccion</h4>
                        @foreach (var item in Model.Jurisdiction)
                        {
                            <div class="row">
                                <div class="col-md-6 text-left"><p class="comparator-details-key"><a href="@GetUrl(item.Key)">@item.Key</a></p></div>
                                <div class="col-md-6 text-right"><p class="comparator-details-value comparator-details-value-@item.Value">@item.Value</p></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class=" comparator-details-group">
                        <h4 class="comparator-details-header">Proteccion de datos</h4>
                        @foreach (var item in Model.DataProtection)
                        {
                            <div class="row">
                                <div class="col-md-6 text-left"><p class="comparator-details-key"><a href="@GetUrl(item.Key)">@item.Key</a></p></div>
                                <div class="col-md-6 text-right"><p class="comparator-details-value comparator-details-value-@item.Value">@item.Value</p></div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" comparator-details-group">
                        <h4 class="comparator-details-header">Responsabilidad</h4>
                        @foreach (var item in Model.Responsibility)
                        {
                            <div class="row">
                                <div class="col-md-6 text-left"><p class="comparator-details-key"><a href="@GetUrl(item.Key)">@item.Key</a></p></div>
                                <div class="col-md-6 text-right"><p class="comparator-details-value comparator-details-value-@item.Value">@item.Value</p></div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-md-4">
                    <div class=" comparator-details-group">
                        <h4 class="comparator-details-header">Politica de cookies</h4>
                        @foreach (var item in Model.CookiesPolicy)
                        {
                            <div class="row">
                                <div class="col-md-6 text-left"><p class="comparator-details-key"><a href="@GetUrl(item.Key)">@item.Key</a></p></div>
                                <div class="col-md-6 text-right"><p class="comparator-details-value comparator-details-value-@item.Value">@item.Value</p></div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>
